__pycache__
.vscode
datasets/
*.err
*.out
*.log
*.csv
translation/translation.egg-info/
models/
train_jobs/
**/.ipynb_checkpoints
uroman/
marian_tokenizer_stuff/
romanized_coptic_tokenizer/
tmp/
final_models/
config.properties
tmp/
build/
dist/
logs/
.DS_Store
node_modules/
.env